<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" preserve-order="true">
	<parameter name="browser" value="Chrome" />
	<test thread-count="1" name="TestApp" parallel="classes">
		<classes>


			<class name="com.dddframework.test.HomeTest" />
			<!-- <class name="com.dddframework.test.RegistrationTest" /> -->

		</classes>
	</test>
</suite> <!-- Suite -->		